<form novalidate [formGroup]="packageForm" (ngSubmit)="onSubmit()">
<mat-card>
	<mat-toolbar>
  <mat-toolbar-row>
    <span> <h1 class="title">Add Packages</h1></span>
    <span class="spacer"></span>
          <button mat-dialog-close class="button is-primary">
        <mat-icon>close</mat-icon> 
      </button>

  </mat-toolbar-row>
</mat-toolbar>

<div class="field">
  <p>{{packageForm.values | json}}
    </p>
  <label class="label">Title</label>
  <div class="control">
    <input mdInput formControlName="Title" class="input" type="text" placeholder="Input Title">
  </div>
    <label class="label">Description</label>
  <div class="control">
    <textarea mdInput formControlName="Description" class="textarea" placeholder="Package Description"></textarea>
  </div>
</div>


<div class="field">
<div class="file has-name is-right">
  <label class="file-label">
    <input mdInput formControlName ="Image" class="file-input" type="file" name="resume">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fa fa-upload"></i>
      </span>
      <span class="file-label">
       Choose an image and upload
      </span>
    </span>
    <span class="file-name">
      upload image
    </span>
  </label>
</div>
</div>

<div class="field">
  <label class="label">Menu Link</label>
  <div class="control">
    <input mdInput formControlName= "MenuLink" class="input" type="text" placeholder="Short Menu link to display on menus">
  </div>


</div>
<div class="field">
  <label class="label">Cost</label>
  <div class="control">
    <input mdInput formControlName ="Price" class="input" type="text" placeholder="Price of Package in USD">
  </div>
  

</div>



<div class="field">
  <div class="control">
    <label class="checkbox">
      <input
       mdInput formControlName ="Featured"
        type="checkbox">
     Set as featured to appear in front page
    </label>
  </div>
</div>



<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
  <div class="control">
    <button mat-dialog-close class="button is-text">Cancel</button>
  </div>
</div>
</mat-card>
</form>